* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body > header {
    background-color: #2f3640;
    padding: 16px 0;
    color: white;
}

header .containers{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header h1{
    margin-left: 80px;
}

header img{
    width: 64px;
    position: absolute;
}

header h2{
    margin-left: 115px;
    margin-top: 8px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
}

header li{
    display: inline;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-left: 16px;
}

header li a{
    color: #f5f6fa;
    text-decoration: none;
}

.containers {
    width: 1366px;
    margin: 0 auto;
}

.articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.articles article img{
    /*height: 180px;*/
    width: 100%;
}

.articles article{
    width: 30%;
}

section {
    padding: 16px 0;
}

section h2,
.articles article{
    margin-bottom: 16px;
}

.articles article h3{
    margin-top: 8px;
    margin-bottom: 8px;
}

.articles article a{
    background-color: blue;
    color: white;
    padding: 8px;
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    margin-top: 8px;
}

.articles article a:hover{
    text-decoration: underline;
}

.articles article p,
.articles article a {
    font-family: Arial, Helvetica, sans-serif;
}

.articles article h3{
    font-size: 24px;
}

.containers h2{
    font-size: 32px;
}

#sports {
    background-color: rgba(0, 255, 0, 0.1);
}

#sports .articles article a{
    background-color: #009432;
}

#economy{
    background-color: #fffa65;
}

#economy .articles article a{
    background-color: #ff9f1a;
}

#tecnology{
    background-color: azure;
}

#tecnology .articles article a{
    background-color: cadetblue;

}

#entreteniment{
    background-color: cornsilk;

}

#entreteniment .articles article a{
    background-color: burlywood;

}

#fixed{
    align-items: center;
    position: fixed;
    bottom: 0px;
    right: 16px;
}

#fixed a{
    text-decoration: none;
    margin-right: 8px;
    font-size: larger;
    font-family: 'Courier New', Courier, monospace;
    color: black;
}

#fixed a:hover{
    background-color: black;
    color: white;
    text-decoration: underline;
}

#fixed img{
    width: 128px;
}

#tecnology .articles li{
    margin-left: 16px;
    margin-top: 8px;
}
/*posso usar element.style com fixed para deixa-lo na tela
relative para deixar relativo a um box.  button, right, left and top*/