@font-face {font-family: "TacticSans-Reg"; 
    src: url("//db.onlinewebfonts.com/t/28c0ba929947563500b21da15a88c6fe.eot"); src: url("//db.onlinewebfonts.com/t/28c0ba929947563500b21da15a88c6fe.eot?#iefix") format("embedded-opentype"), 
    url("//db.onlinewebfonts.com/t/28c0ba929947563500b21da15a88c6fe.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/28c0ba929947563500b21da15a88c6fe.woff") format("woff"), url("//db.onlinewebfonts.com/t/28c0ba929947563500b21da15a88c6fe.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/28c0ba929947563500b21da15a88c6fe.svg#TacticSans-Reg") format("svg"); }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "TacticSans-Reg";
}

.container{
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
}

body{
    background-color:whitesmoke;
    padding-top: 100px;
    font-family: "TacticSans-Reg"
}

header{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    color: white;
    background-color: #FF4500;
    padding: 0px;
    font-size: 20px;
}

header img{
    max-height: 128px;
    margin-right: 32px;
}

form{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 32px;
}

form input{
    border: none;
    background-color: white;
    font-size: 24px;
    color: black;
    padding: 6px;
}

form button{
    cursor: pointer;
    border: none;
    color: white;
    background-color: #FF4500;
    padding: 8px;
    font-size: 24px;
    font-weight: bold;
}

form button:hover{
    background-color: rgb(200, 53, 0);
    font-weight: bolder;
}

table{
    width: 100%;
}

table th{
    border-bottom: 2px solid #000;
    font-size: 24px;
    font-weight: bold;
}

table td{
    text-align: center;
    padding: 16px 0;
    font-size: 18px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.linha-vertical{
    border-left: 2px solid;
    box-sizing: border-box;
}

.nota{
    background-color: white;
    padding: 24px;
    margin-bottom: 32px;
    display: none;
}

.erro{
    background-color: red;
    font-weight: bold;
}